* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
  background-color: #F1F1F3;
}

.page1,
.page2 {
  width: 430px;
  height: 900px;
  border-radius: 50px;
  background-color: #FFFFFF;
  padding: 50px 30px;
  box-shadow: 0 0 10px #ebebeb;
}



.head {
  display: flex;
  justify-content: space-between;

}

.head a {
  text-decoration: none;
}

.head a i {
  color: black;
}

.playing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playing img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 40px 0;
  box-shadow: 1px 10px 15px #919191;
}

.playing_song {
  text-align: center;
}

.playing_name {
  font-size: 30px;
  font-weight: 500;
}

.playing_value {
  opacity: 0.5;
  line-height: 40px;
}



.playing .btn {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}



.playing .btn span {
  border-radius: 30px;
  margin: 30px 15px;

}


.playing .btn span:first-child {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 12px 35px;
}

.playing .btn span:last-child {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.6);
  padding: 11px 17px;
  font-size: 17px;
  font-weight: 400;
  box-shadow: 0px 0px 10px rgb(225, 225, 225);
}

.playing .btn span:last-child i {
  color: black
}

/* .playing_list_all {
  display: flex;
  justify-content: space-evenly;
} */

.playing_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.playing_list img {
  height: 45px;
  width: 45px;
  margin-right: 20px;
  border-radius: 10px;
}

.playing_info__ {
  display: flex;
  align-items: center;
}

.playing_artist {
  display: inline-block;
  opacity: 0.7;
  font-size: 17px;
  margin-bottom: 5px;
}

.playing_word {
  font-weight: 600;
  opacity: 0.9;
}

.fa-ellipsis-vertical {
  opacity: 0.5;
}

.playing_box {
  width: 370px;
  height: 70px;
  border-radius: 40px;
  background-color: #000;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-shadow: 0 0 15px #a1a1a1;
}

.playing_bar .playing_artist,
.playing_bar .playing_word,
.playing_bar .playing_icons {
  color: white;
}

.playing_info .playing_artist,
.playing_info .playing_word {
  display: inline-block;
}

.playing_artist {
  opacity: 0.4;
}

.playing_icons {}

.fa-pause {
  margin: 0 25px;
}

/* ----------------------------------------------- */

.playing__ {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.playing__ img {
  width: 260px;
  height: 260px;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 70px;
  display: block;
  box-shadow: 10px 20px 20px #b3b9c1;
}

.page2 .playing_song {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page2 .playing_song .playing_name {
  font-size: 30px;
  font-weight: 500;
}

.page2 .playing_value {
  opacity: 0.4;
  line-height: 40px;
  font-size: 20px;
  margin-bottom: 40px;
}

.player .play_time {
  display: flex;
  justify-content: space-between;
  opacity: .3;
  font-weight: 500;
  margin-bottom: 5px;
}

.player .player__bar {
  width: 350px;
  color: #000;
  margin-bottom: 60px;
}

.player .player__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* input[type=range]::-ms-track {} */

.player__icons .fa-rotate,
.player__icons .fa-shuffle {
  color: #000;
  opacity: 0.2;
}

.player__icons .fa-backward-step,
.player__icons .fa-forward-step {
  color: #000;
}

.player__icons a:nth-child(3) {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  text-align: center;

}

.player__icons .fa-play {
  color: white;
  line-height: 70px;
}