* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
}

li {
  list-style: none;
}

iframe,
img,
svg,
canvas {
  display: block;
}

iframe {
  border: none;
}

table {
  border-collapse: collapse;
}
