.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: none;
  width: 100%;
  height: 80px;
  

}

.logo__bar {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  color: #FF385C;
}

#logo__text {
  font-size:25px;
}

#logo__icon {
  font-size:35px;
}

.logo__bar a {
  text-decoration: none;
  color: #FF385C;
}

.search__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.search__bar input {
  width: 280px;
  height: 30px;
  border: 1px solid #a8a4a4;
  border-radius: 20px;
}

input:focus {
  outline: none;
}


.search__bar button {
  position: absolute;
  left: 470px;
  /* 의미없...반응형불가 */
}



.etc__bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding-right: 10px;
  /* 적용안됨 */
}

.etc__bar {
  font-size: 14px;
  /* margin-right: 10px; */
}


#user__hamberger {
  margin-left: 10px;
}

#user__icon {
  padding-left: 8px;
}