.ex0 {
  /*   background-color: yellow; */
  /*   text-align: end; */
  margin: 0 auto;
  border: 1px solid #000;
  width: 500px;
  text-align: center;
}

/* 스판 부모에 백그라운드를 주면 자식들간에 여백이 없음 */

.ex0 span {
  background-color: yellow;
  display: inline-block;
  vertical-align: bottom;
  width: 100px;
  /*   text-align: center; */
  line-height: 50px;
}

.ex0 span:nth-child(1) {
  height: 100px;
}

.ex0 span:nth-child(2) {
  height: 50px;
}

.ex0 span:nth-child(3) {
  height: 150px;
}

/* span글자를 담고있는 span에게 inline-block을 주고 원하는 코드를 주자  */


.ex1 {
  border: 1px solid #000;
}

.ex1 span {
  background-color: yellow;
  display: inline-block;
  vertical-align: bottom;
  width: 100px;
  text-align: center;
  line-height: 100px;
}

.ex1 span:nth-child(1) {}

.ex1 span:nth-child(2) {}

.ex1 span:nth-child(3) {
  line-height: 20px;
}

/* display flex 는 부모한테 적용했잖아?
inline-block은 글자를 담고있는애, 즉 본인에게인건지? */
/* 높이가 없는 상태에서 라인하이트를 주면 그 높이만큼 생기고 가운데에 글자가 위치함 */

/* -------------------------------------------- */

.ex2 div {
  background-color: pink;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #000;

}

.ex2 div:last-child {
  line-height: 300px;
}


/*   ------------------------------------------- */

.ex3 button {
  background-color: green;

}

.ex3 {
  margin: 0 auto;
}

/* ------------------------------------------- */


.ex4 {
  background-color: aqua;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  line-height: 300px;
}

/* 글자관련속성은 상속이 돼. 여기서 베이지네모는 글자야. 인라인블럭이잖니. 그럼 상속되어서 글자도 중간정렬이 되겠지. 근데 글자만 되고 베이지박스는 안갔어. 글자랑 동일하게 적용은 안돼서 그래 */

.ex4 div {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
}

.ex4 div:first-child {
  height: 100px;
  line-height: 100px;
}

/* 그럼 직접 와서 
글자를 담은 베이지네모를 움직이고싶으니까 베이지네모를 담은 디브에게 라인하이트  */



.ex4 div:last-child {
  height: 200px;
  line-height: 200px;

}


.container1 {
  display: flex;
}