.main-sec{

}

.section1 {
  position: relative;
  margin-top: 50px;
  .carousel {
    position: absolute;
    transform: translate(50%, 50%, -50%, -50%);
    top: 0;
    bottom: 0;
    width: min(90%, 800px);
    img {
      width: 100%;
      &.dummy {
        opacity: 0;
      }
      &.img {
        position: absolute;
        top: 0;
        opacity: 0;
      }
      &.img1 {
        opacity: 1;
      }
    }
    button {
      position: absolute;
      top: 70%;
      width: 20px;
      height: 20px;

      border-radius: 50%;
      background: #fff;
      border: 3px solid #000;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
      &::before {
        content: "";
        position: absolute;
        transform: translate(50%, 50%, -50%, -50%);
        top: 0;
        bottom: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--dark-color);
      }
      &.prev {
        top:50%;
        left: 20px;
      }
      &.next {
        right: 20px;
      }
    }
  }
} //section1
